<p>countries-home works!</p>


<ul class="countries">
    <li *ngFor="let country of countries">
        <a routerLink="/detail/{{country.name?.common}}" class="country-box">
            <img src="{{country.flags?.png}}" height="150px" width="100%">
            <div>
                <p>{{country.name?.common }}</p>
                <div>
                    <p>population: {{country.population}}</p>
                    <p>region: {{country.region}}</p>
                    <p>capital: {{country.capital}}</p>
                </div>
            </div>
        </a>
    </li>
</ul>